*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* body{ */
    /* background-image: url('../../assets/files.webp') !important; */
    /* background-repeat: no-repeat;
    background-size: cover;
    height: 100%; */
    /* background-image: url('../../assets/bg1.webp'); */
    /* height: 100%; */
/* } */
.background{
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
}
.background .shape{
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}


form{
  height: 520px;
  width: 400px;
  background-color: rgba(255,255,255,0.13);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 50px 35px;
}

form *{
  font-family: 'Poppins',sans-serif;
  color: white;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
form h3{
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}
label{
  display: block;
  margin-top: 30px;
  font-size: 13px;
  font-weight: 500;
  color: #fff;
}
input{
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255,255,255,0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 12px;
  font-weight: 300;
}
::placeholder{
  color: #fff;
}
button{
  margin-top: 50px;
  width: 100%;
  background-color: black;
  color: #ffffff;
  padding: 15px 0;
  font-size: 15px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
.social{
  margin-top: 30px;
  display: flex;
}
.social div{
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(255,255,255,0.27);
  color: #eaf0fb;
  text-align: center;
}
.social div:hover{
  background-color: rgba(255,255,255,0.47);
}
.social .fb{
  margin-left: 25px;
}
.social i{
  margin-right: 4px;
}

.p_text{
  text-align: center;
  margin-top: 30px;
  font-size: 12px;
}

.h1_login{
  text-align: center;
  color: #fff;
  font-size: 25px;
}

.p_text a {
  color: yellow;
  text-decoration: none;
}

.btn_label{
    border: 2px solid transparent;
}


.btn_label:hover{
    background-color: transparent;
    border: 2px solid #ffffff;
}

.header_div{
  border: 1px solid white;
}

