.header_top .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    overflow-x: auto;
    border-left: 1px solid #606060;
    background-color: #36454F; 
    z-index: 9;
    /* background-color: #D1CAC0  agrible grey;  */
  /* background-color: #FFFFF0  !important; ivory grey */
    /* background-color: #000447; */
}

.header_top .navbar a {
    color: #fff;
    /* color: #000; */
}

.header_top .navbar .nav-item a,
.header_top .navbar .navbar-nav a {
    color: #fff;
    /* color: #000; */
}

.header_top .navbar a:hover,
.header_top .navbar .nav-item a:hover,
.header_top .navbar .navbar-nav a:hover {
    color: #fff;
    /* color: #000; */
}

.header_top .navbar {
    width: 100%;
    overflow-x: auto;
}

.header_top .navbar::-webkit-scrollbar-thumb {
    background: #ededed;
    border-radius: 10px 0 10px 0;
}

.header_top .navbar::-webkit-scrollbar {
    /* width: .2rem; */
    height: .5rem;
    background-color: #000447;
}